<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pokemon</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Nunito:wght@400;600;800&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="/js/style.css">

  <script defer src="/js/application.js" ></script>
  </head>
  <body>

<div class="reg">      {{> auth}}


</div>

    <div class="container">
       <h2 class="title">   ВСЕ О ПОКЕМОНАХ</h2>


      {{{body}}}
    </div>
  </body>
</html>


